<%-include("header") %>
<div class="box" id="heading">
  <h1>
    My name is Huzaifa and I am a full stack developer. If you want a web
    developer, I am the one who is expert. If you need a game developer, I am
    the one who is the expert. If you need an ethical hacker to test out all
    vulnerabilities in your website, I am the one who is expert. This is the
    power given to me by Allah almighty, the only creater of everything!
  </h1>
</div>
<%-include("footer") %>
